body {
    background-color: #f1c497;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
font-family: 'Soup of Justice';
font-style: normal;
font-weight: normal;
src: local('Soup of Justice'), url('soupofjustice.woff') format('woff');
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:after,.container:before {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:970px
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container-fluid:after,.container-fluid:before {
    content: " ";
    display: table
}

.container-fluid:after {
    clear: both
}

@charset "UTF-8";@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=latin-ext,vietnamese) ;html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}